
@font-face {
	font-family: "MullerNarrow-Light","Arial",sans-serif;
	src: url('../font/MullerNarrow-Light/MullerNarrow-Light.woff');
}

h1,h2,h3,h4,h5,h6,a,p,li {
	font-family: "MullerNarrow-Light","Arial",sans-serif;
	margin: 0;
	padding: 0;
}

body {
	padding: 0;
	margin: 0;
	background: url('../img/about-me.png');
}

ul, li, a ,p {
	margin: 0;
	padding: 0;
}





.main-header {
	position: relative;
	width: 100%;
	height: 867px;
	-webkit-background-size: cover;
	background-size: cover;
	background-color: rgb(68, 68, 68);
	background-image: url('../img/main-bg.jpg');
	background-position: left top;
	
}

.menu--wrapper {
	width: 100%;
}

.main-nav {
	position: relative;
	background-color: rgba(34, 26, 26, 0.467);
}

.menu__list {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

li {
	margin-right: 0px;
}

li a{
	display: block;
	color: #fff;
	text-decoration: none;
	font-family: arial;
	font-size: 16px;
	padding: 15px 10px 20px 10px;
	font-weight: bold;
}

.main-h1 {
	top: 45%;
	left: calc(100%/2 - 231px);
	text-align: center;
	position: absolute;
}

.im {
	font-size: 60px;
	color: #fff;
	margin: 0;
	text-shadow: 4px 4px 2px #000;
}

.im2 {
	font-size: 45px;
	color: #f8df20;
	margin: 0;
	text-shadow: 4px 4px 2px #000;
	font-family: "Muller","Arial",sans-serif;
}

.img3 {
	color: #30a5e0;
	text-shadow: 4px 4px 2px #000;
}

/*<!-- 2) about-me -->*/

.about-me h1 {
	display: none;
}

.about-me {
	width: 100%;
	background-image: url('../img/about-me.png');
	background-repeat: repeat;
	padding-bottom: 30px;
}

.container {
	margin: 0 auto;
	text-align: center;
	max-width: 60%;

}

.about-me_photo {
	
	width: 256px;
	height: 256px;
}

.about-me__photo img {
	display: block;
	max-width: 100%;
	margin: 0 auto;
	border: 5px solid #b7b6b6ab;
	border-radius: 50%;
}


.about-me__title {
	font-weight: 500;
	font-size: 24px;
	padding: 30px 0;
}


/*  3) ==========   Skills   ========== */

.skills {
	width: 100%;
	background: rgba(0,0,0,.1);
	background-repeat: repeat;
}

.skils__items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	max-width: 1000px;
	margin: 0 auto;
}

.skils__items--all {
	width: 30%;
	margin: 0 auto 25px;
}

.skills__text {
	text-align: center;
	line-height: 22px;
}

.skils__items--all img {
	display: block;
	margin: 0 auto 15px;
}

.github img {
	width: 128px;
}

.skils__items--all h3 {
	margin: 10px 0;
}


/*  4) ==========   Portfolio   ========== */

.h2__title {
	font-family: "MullerNarrow-Light","Arial",sans-serif;
	font-weight: bold;
    font-size: 30px;
    padding: 30px 0;
    text-align: center;
}

.portfolio {
	width: 100%;
	margin-bottom: 50px;
}

.portfolio__items {
	display: flex;
	justify-content: space-between;
}

.job {
	list-style: none;
	width: 30%;
	border: 2px solid #e1e1e1;
}

.job-img {
	width: 100%;
	background-color: #dddddd;
}

.job div {
	background: rgba(0,0,0,.1);
    background-repeat: repeat;
    padding-bottom: 15px;
}

.job h3 {
	line-height: 22px;
	margin: 0;
	padding: 10px 0;
}

.job p {
	line-height: 22px;
	padding-bottom: 10px;
}

.btn {
	width: 70%;
	padding: 10px 15px;
	margin: 30px auto 0;

	background-color: #017bff;
	border-radius: 10px;

	line-height: 24px;
	font-size: 18px;
}

/*<!-- 5) begin footer -->*/


.social-links--contrast {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	width: 60%;
	margin-bottom: 30px;
}

.social-links--contrast ul {
	
}

.social-links--contrast li {
	list-style: none;
	padding: 0 30px;
}

.social-links--contrast img {
	width: 30px;
	height: 30px;
}


































































































































































