



@media (max-width: 550px) {
	.menu__list {
		display: block;

	}

	.menu__list li {
		text-align: center;
		border: 1px solid #282922;
	}

	.main-h1 {
		top: 70%;
		left: calc(100%/2);
	}

	.portfolio-items-wrapper {
		width: 16em;
	}

	.social-links--contrast li {
		padding: 0 10px;
	}
}











































































































































































































