



@media (max-width: 550px) {
	.menu__list {
		display: block;

	}

	.menu__list li {
		text-align: center;
		border: 1px solid #282922;
	}

	.container {
		min-width: 95%;
	}
	
	.main-h1 {
		top: 60%;
		left: calc(100%/2 - 100px);
	}

}











































































































































































































