



@media (max-width: 768px) {
	.main-header {
		height: 500px;
	}

	.menu__list {
		justify-content: space-around;
		-ms-flex-pack: distribute;
	}

	li a {
		font-size: 20px;
	}

	.container {
		min-width: 80%;
	}

	.main-h1 {
		left: calc(100%/2 - 90px);
	}

	.im {
		font-size: 39px;
	}

	.im2, .im3 {
		font-size: 16px;
	}

	.about-me__title p {
		font-size: 16px;
		line-height: 24px;
	}

/*3) ==========   Skills   ==========	*/

	.skils__items--all {
		width: 100%;
	}

/*  4) ==========   Portfolio   ========== */

	.portfolio__items {
		display: block;
	}

	.job {
		width: 70%;
		margin: 0 auto 50px;

	}



}











































































































































































































