html {
  font-family: sans-serif;
}
body {
  width: 90%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
  text-align: center;
}

h1  {
  font-size: 50px;
  margin: 20px auto 15px;
}

p  {
  max-width: 70%;
  margin: 0 auto;
  font-size: 20px;
  text-align: left;
}

.lastResult {
  color: white;
  padding: 3px;
}

input.guessSubmit {
  cursor: pointer;
  border: 1px solid black;
  border-radius: 10px;
  margin-left: 15px;
}

.form  {
  padding: 30px 0;
}

.form label  {
  font-size: 26px;
}

.guessField  {
  border: 1px solid black;
}

.form input  {
  font-size: 26px;
}

.resultParas p  {
  padding: 5px 0;
}






